/* contenedor */
.containe1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ruta h1{
    color: var(--verde);
    margin-top: 1rem;
    font-weight: 700;
    font-size: 2rem;
}

.imagen-box {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.imagen-box img {
    width: 18rem;
    height: 18rem;
    margin-right: 10rem;
    margin-top: 3rem;
    transition: transform 0.3s ease-in-out;
}

.imagen-box img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.text1 {
    font-size: 1.5rem; /* Reduje el tamaño del texto para que se ajuste mejor */
    color: black;
    text-align: left;
    max-width: 500px;
}

.total p {
    font-size: 3rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.total p:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bta {
    display: flex;
    justify-content: center; /* Cambié el valor a 'center' para centrar el botón */
    margin: 1rem;
}

.bta button {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem; /* Aumenté el padding horizontal para que el botón tenga más espacio */
    background: var(--verde);
    cursor: pointer;
    color: var(--blanco);
}

.bta button:hover {
    background-color: var(--amarilloVerde);
}

/* Media Queries para dispositivos más pequeños */
@media only screen and (max-width: 768px) {

    .text1{
        text-align: center;
        margin: 1rem;
    }
    .imagen-box {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .imagen-box img {
        margin-right: 0;
        margin-top: 1rem;
    }

    .bta {
        margin: 0.5rem;
    }

    .bta button {
        padding: 0.8rem 1.5rem;
    }
}
